<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rsvp.name %>
</p>

<p>
  <strong>Head count:</strong>
  <%= @rsvp.head_count %>
</p>

<p>
  <strong>Food to Bring:</strong>
  <%= @rsvp.food_bring %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
